.PageHeader {
  display: flex;
  justify-content: center;
}

.TrucksContainer {
    display: flex;
    /* flex-direction: column; */
    padding: 1em;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}